.picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .square p {
    margin: 0;
  }
  
  /* .buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .buttons button {
    margin: 0 5px;
  } */