/* .gallery-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-column-gap: 100px;
  height: 100vh;
  justify-content: center;
}

.block {
  background-color: #ffffff;
  border: 1px solid #151515;
  width: 600px;
  height: 450px;
} */

.gallery-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-column-gap: 100px;
  height: 100vh;
  justify-content: center;
}

.block {
  background-color: #ffffff;
  border: 1px solid #151515;
  width: 600px;
  height: 450px;
  position: relative;
}

.block .canvas {
  width: 600px;
  height: 450px;
}

.block .content {
  position: absolute;
  top: -30px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

/* .button-container button {
  margin: 0 10px;
} */